[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==1.1.2"
gunicorn = "*"
flask-talisman = "==0.7.0"
requests = "*"
twilio = "*"
flask-api = "*"

[requires]
python_version = "3.8"
flask-talisman = "0.7.0"
