<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Basket Failed</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<style type="text/css">
html {
  font-family: 'Montserrat', sans-serif;
}

pre.user {
  background: #213446;
  color: white;
}
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div id="body" class="container has-text-centered">
        <h1 id="time_remaining_h1" style="color:red;font-size:40px;">You Ran Out Of Time!</h1>
        <br>
        <a href="/">
      <button class="button is-primary is-large is-inverted is-outlined is-rounded">
        Go Back
      </button>
        </a>
    </div>
  </div>
</div>

</body>
</html>